.closeButton{
    position: absolute !important;
    right: 10px;
    top: 10px;
    color: grey;
}

.DialogContent{
    display: flex;
    justify-content: space-between;
}

.contentBlock{
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.ColorsBlock{
    display: flex;
    flex-direction: column;
}
.ColorsBlock .Colors{
    display: flex;
}
.SizesBlock .Sizes{
    display: flex;
}

.AddToCart{
    max-width: 40%;
    margin-top: 20px !important;
    align-self: flex-end;
    border-radius: 20px !important;
}