.Filters{
    /*background-color: white;*/
    max-width: 30%;
    width: 100%;
    height: 100%;
}

.Filters ul{
    list-style: none;
    padding-left: 20px;
}
.Filters ul li{
    margin-bottom: 15px;
    text-decoration: none;
    color: #2e2e2e;
}
.Filters ul li a{
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);;
    text-decoration: none;
    color: #2e2e2e;
}
.Filters ul li a:hover{
    color: #f62f5e;
    cursor: pointer;
    border-bottom: 2px solid #f62f5e;
}

.Filters .activeCategory{
    color: #f62f5e;
    border-bottom: 2px solid #f62f5e;
}