.NavHeader{
    max-height: 144px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

ul.MenuCategories {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-basis: 30%;
}
.MenuCategories li:hover{
    color: #f62f5e;
    cursor: pointer;
}
.MenuCategories li a{
    color: white;
    text-decoration: none;
}

.MenuCategories .activeDepartment{
    color: #f62f5e;
}