.ProductsBlock{
    display: flex;
    justify-content: flex-end;
}

.ProductList{
 display: flex;
    flex-direction: column;
    max-width: 70%;
    width: 100%;
    align-items: center;
}

.Products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*max-width: 70%;*/
    width: 100%;
}

.Pagination{
    list-style: none;
    display: flex;
}
.Pagination li a{
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-size: 24px;
}

.Pagination .Active a{
    background-color: #f62f5e;
    border-radius: 5px;
    outline: none;
    color: white;
}
